{
  "plugins": [
    "stylelint-scss"
  ],
  {
    "extends": "stylelint-config-standard"
  },
  "rules": {
    "indentation": 4,
    "max-nesting-depth": 3,
    "string-quotes": "double",
    "declaration-colon-space-after": "always-single-line",
    "block-opening-brace-newline-before": "always-multi-line",
    "block-opening-brace-newline-after": "always-multi-line",
    "block-closing-brace-newline-before": "always-multi-line",
    "block-closing-brace-newline-after": "always-multi-line",
    "declaration-property-value-blacklist": { "/^border/": [ "none" ] },
    "function-parentheses-space-inside": "always-single-line",
    "media-feature-parentheses-space-inside": "always"
  }
}
