---
layout: base
bodyClass: root
---

{% import 'icons/icons.html' as icon %}

<section class="homepage">
    <div class="homepage__inner">
        <h1 class="homepage__title">{% include 'name.html' %}</h1>
        <p class="homepage__subtitle">Web developer</p>
        <ul class="homepage__links">
            <li>
                <a href="https://stackoverflow.com/users/2382115/teo-dragovic" aria-label="Stack Overflow">
                    {{ icon.use( 'stack-overflow', 'Stack Overflow'  ) }}
                </a>
            </li>
            <li>
                <a href="https://github.com/teodragovic" aria-label="Github">
                    {{ icon.use( 'github', 'Github' ) }}
                </a>
            </li>
            <li>
                <a href="https://codepen.io/teodragovic" aria-label="Codepen">
                    {{ icon.use( 'codepen', 'Codepen'  ) }}
                </a>
            </li>
            <li>
                <a href="mailto:teo@lona.hr" aria-label="Contact me">
                    {{ icon.use( 'email', 'Contact me' ) }}
                </a>
            </li>
        </ul>
    </div>
</section>

{% include 'icons/icons.svg' %}
