// Navigation

$nav-bg: #ccc !default;
$nav-color: darken($nav-bg, 38) !default;
$nav-color-hover: darken($nav-color, 25) !default;
$nav-border: darken($nav-bg, 10) !default;
$nav-padding: 1.5em !default;
$nav-border: darken($nav-bg, 20) !default;

// Globals

.navigation {
	position: relative;
	padding-bottom: $nav-padding;
	ul { 
		text-align: center; 
		margin: 0;
		padding: 0;
	}
	li { display: inline-block; }
}
