
/* FUNCTIONS */

@function em($font-px, $base: $font-base) {
 @return #{$font-px/$base}em;
}

/* VARIABLES */

// Colors
$black: #222;
$white: #F5F5F5;

$blue: hsl(200, 90%, 25%);

$gray-light:  hsl(200, 10%, 70%);
$gray-medium: hsl(200, 10%, 50%);
$gray-dark:   hsl(200, 10%, 30%);

$selection:   #b3d4fc;

$link-color: $blue;
$link-color-hover: lighten($link-color, 10%);
$link-color-active: $link-color;

$ui-color: $gray-medium;

// Type
$font-base: 16;
$line-height: 1.5;
$baseline: $font-base * $line-height;

// Typographic scale
$font-h1: 36;
$font-h2: 24;
$font-h3: 21;
$font-h4: 18;
$font-h5: 16;
$font-h6: 14;

// Setting type stacks
$type--body: "Open Sans", sans-serif;
$type--head: "Open Sans", sans-serif;
$type--code: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

// Branding
$brand-type: "etica-display", sans-serif;
$brand-color: $gray-dark;

// Layout
$spacing: $baseline;
$spacing-small: $spacing / 2;

// Common layout breakpoints
$bp-s: 		480; 		// 30em
$bp-m: 		640; 		// 40em
$bp-l: 		768; 		// 48em (laptop height)
$bp-xl: 	800; 		// 50em
$bp-xxl: 	960; 		// 60em

$max-width: 64; // 1024px

// Solarized

$noise-bg: image-url('noise.png') top left !default;

$base03:          hsl(200, 10%, 10%) !default; //darkest blue
$base02:          lighten(#073642, 10%) !default; //dark blue
$base01:          lighten(#586e75, 10%) !default; //darkest gray
$base00:          lighten(#657b83, 10%) !default; //dark gray
$base0:           lighten(#839496, 10%) !default; //medium gray
$base1:           lighten(#93a1a1, 10%) !default; //medium light gray
$base2:           lighten(#eee8d5, 10%) !default; //cream
$base3:           lighten(#fdf6e3, 10%) !default; //white
$solar-yellow:    lighten(#b58900, 10%) !default;
$solar-orange:    lighten(#cb4b16, 10%) !default;
$solar-red:       lighten(#dc322f, 10%) !default;
$solar-magenta:   lighten(#d33682, 10%) !default;
$solar-violet:    lighten(#6c71c4, 10%) !default;
$solar-blue:      lighten(#268bd2, 10%) !default;
$solar-cyan:      lighten(#2aa198, 10%) !default;
$solar-green:     lighten(#859900, 10%) !default;

$solarized: dark !default;

/* non highlighted code colors */
$pre-bg: $base03 !default;
$pre-border: darken($base02, 5) !default;
$pre-color: $base1 !default;

/* MIXINS */

@mixin css3 {
 @media all {
	@content;
 }
}

@mixin type($stack: $font-family, $weight: 400, $style: normal) {
	font-family: $stack;
	font-weight: $weight;
	font-style: $style;
}

@mixin font-smoothing($val: on) {
	@if $val == "on" {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	} @else if $val == "off" {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}

@mixin headings($from: 1, $to: 6) {
	%base-heading {
		@content;
	}

	@if $from >= 1 and $to <= 6 {
		@for $i from $from through $to {
			h#{$i},
			.h#{$i} {
				@extend %base-heading;
			}
		}
	}
}

@mixin headings-margin($header-font, $factor:1) {

	$diff: nil;

	@if $header-font >= $baseline {
		$diff: $header-font % $baseline;
	} @else {
		$diff: $baseline - $header-font;
	}

	$margin: $diff + ($baseline * $factor);
	margin-bottom: em($margin, $header-font); // init empty variable

}

@mixin link($color, $underline: none) {
	color: $color;
	text-decoration: $underline;
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

// Breakpoints mixin
@mixin bp($point) {
	@media (min-width: em($point, 16)) {
		@content;
	}
}
