
// _variables.scss
// Global variables.

$z-layers: (
    "popup":  1,
);

$color-brand-alpha:   #1C0A13;
$color-brand-beta:    #201319;
$color-brand-gamma:   #1F0F17;
$color-brand-delta:   #2F1220;
$color-brand-epsilon: #431B2F;
