
// Replace ugly, thick underline with thin one
// Use bg-image and text-shadow to clear descendants
// Reference: https://css-tricks.com/styling-underlines-web/
.fancy-underline
{
    &:hover,
    &:focus,
    &:active
    {
        text-decoration: none;
        background-image: linear-gradient( currentColor, currentColor );
        background-repeat: no-repeat;
        background-size: 100% 2px;
        background-position: center 85%;
        text-shadow:
            -1px 0 $color-white,
            2px 0 $color-white,
            1px 0 $color-white,
            -1px 0 $color-white,
            -2px 0 $color-white,
            -3px 0 $color-white;
    }
}

.mail
{
    unicode-bidi: bidi-override;
    direction: rtl;

    font-size: 1rem;

    @include at-min( $bp-medium )
    {
        font-size: 2.5rem;
    }

}

.hide
{
    @include size( 1px );
    position: absolute;
    overflow: hidden;
    clip: rect( 0 0 0 0 );
    margin: -1px;
    padding: 0;
    border: 0;
}
