@charset "UTF-8";

// main.scss
// Main import file for Sass partials.

// SASS GROUNDWORK

// These are strictly helpers and should not output any code in CSS.
@import "sass-groundwork/src/abstract.variables";
@import "sass-groundwork/src/abstract.functions";
@import "sass-groundwork/src/abstract.mixins";

// GLOBAL DEFAULTS

@at-root
{
    @-ms-viewport { width: device-width; }
}

html
{
    cursor: default;
    height: 100%;
    box-sizing: border-box;
    font-size: percentage( 20 / 16 );
    text-size-adjust: 100%;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

body
{
    margin: 0;
    padding: 1rem;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    -ms-overflow-style: scrollbar;
    min-height: 100%;

    font-size: 100%;
    font-kerning: normal;
    text-size-adjust: 100%;
    font-feature-settings: "liga", "kern";
    text-rendering: optimizeLegibility;
    @include font-smoothing( on );
    @include at-max( $bp-small )
    {
        @include font-smoothing( off );
    }

    font-family: Georgia;
    line-height: 1;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

section
{
    display: block;
    width: 90%;
    max-width: 40rem;
}

p
{
    font-size: 120%;
    text-transform: lowercase;
    margin-top: 0;

    @include at-min( $bp-small )
    {
        font-size: 2rem;
    }
}

ul
{
    // Reset list
    list-style: none;
    padding: 0;
    margin: 0;

    // Vertical align items
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    li
    {
        flex: 0 1 100px;
        margin-bottom: 1rem;
    }
}

a
{
    font-size: 1.8rem;

    @include at-min( $bp-medium )
    {
        font-size: 2.5rem;
    }

    touch-action: manipulation;
    color: inherit;
    display: inline-block;
    padding: 0.5rem;
}

.icon
{
    overflow: hidden;
    display: inline-block;
    @include size( 1em );
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    path { fill: inherit !important; }
}

::-moz-selection
{
    background-color: #000;
    color: #fff;
    text-shadow: none;
}

::selection
{
    background-color: #000;
    color: #fff;
    text-shadow: none;
}
