{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}

{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} class="cv">

    <div class="main-wrap">

        <header role="banner" class="text--center">

            <div class="brand">
                <h1 class="logo"><a href="{{ root_url }}/">Teo Dragović - CV</a></h1>
            </div>

        </header>

        <hr class="rule">

        <div role="main" class="main-content">

            <article role="article" class="portfolio">

                {{ content | expand_urls: root_url }}

            </article>
        </div>
        {#
        <hr class="rule">

        <footer role="contentinfo" class="text--center">
            <button onclick="window.open('/assets/teo.dragovic-cv.2015.pdf');">PDF</button>
        </footer>
        #}

    </div>




</body>
</html>

