
.entry-header,
.archives-entry { 
	padding-top: em($spacing); 
}

.entry-header--meta {
	@include absolute(0);
	color: $ui-color;
	font-size: 90%;
}

.hentry:last-of-type { border: none; }

.entry-footer {
	font-size: 80%;
	margin-bottom: em($spacing-small);
}

.entry-footer--meta {
	color: $ui-color;
	padding-bottom: em($spacing-small);
	margin-bottom: em($spacing-small - 1);
	border-bottom: 1px solid $ui-color;
	time {
		&:before {
			content: " • ";
		}
	}
}

.entry-footer--navigation {
	a { max-width: 50%; }
}

.pagination { text-align: center; }

.pagination--archive {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: em($spacing-small);
	@include link($black);
	&:hover { @include link($link-color-hover); }
	&:active { @include link($link-color-active); }
	&:before,
	&:after {
		content: " – ";
	}
}