
/* big ass button */

.button-link {
	@include link($white);
	display: inline-block;
	margin:0;
	padding: em($spacing/2);
	border:none;
	background-color: $link-color;
	vertical-align:middle;
	white-space:nowrap;
	font-family:inherit;
	font-size:100%;
	cursor:pointer;
	&:hover,
	&:active {
		@include link($white);
		outline: none;
	}
	&:hover { background-color: $link-color-hover; }
	&:active { background-color: $link-color-active; }
}

/* footer */

.main-footer {
	color: $ui-color;
	text-align: center;
	p { font-size: 80%; }
}