.footer-main {
	text-align: center;
  @extend .sans;
  color: $footer-color;
  border-top: 1px solid $footer-border-top;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  @include border-bottom-radius(.4em);
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  .credit {
  	margin: .5em 0;
  }
  .octopress {
		margin: 0;
		font-size: .8em;
  }
}
