.header-main {
  //background: $header-bg;
  text-align: center;
  h1 {
    margin: 0 auto;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  p {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
    text-transform: lowercase;
  }
}
