
body {

	max-width: $max-width * 16px;
	max-width: $max-width * 1rem;
}

.main-wrap {
	padding: 0 2.5%;
	@include bp($bp-s) 	 { padding: 0 5%; }
	@include bp($bp-m) 	 { padding: 0 7.5%; }
	@include bp($bp-xxl) { padding: 0 10%; }
}

.main-nav,
.social-links {
	@extend .main-wrap;
}
