
{% import 'partials/icons.html' as icon %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teo Dragovic</title>

    <link href="/main.css" rel="stylesheet" data-inline>
</head>

<body>

    <section>
        <h1>{% include 'partials/name.html' %}</h1>
        <p>Web developer</p>
        <ul>
            <li>
                <a href="https://stackoverflow.com/users/2382115/teo-dragovic" aria-label="Stack Overflow">
                    {{ icon.use( 'stack-overflow', 'Stack Overflow'  ) }}
                </a>
            </li>
            <li>
                <a href="https://github.com/teodragovic" aria-label="Github">
                    {{ icon.use( 'github', 'Github' ) }}
                </a>
            </li>
            <li>
                <a href="https://codepen.io/teodragovic" aria-label="Codepen">
                    {{ icon.use( 'codepen', 'Codepen'  ) }}
                </a>
            </li>
            <li>
                <a href="mailto:teo.dragovic@gmail.com" aria-label="Contact me">
                    {{ icon.use( 'email', 'Contact me' ) }}
                </a>
            </li>
        </ul>
    </section>

    {% include 'partials/icons.svg' %}

</body>
</html>
