<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="./javascripts/libs/jquery.min.js"><\/script>')</script>
<script src="{{ root_url }}/javascripts/main.js"></script> -->
<!-- 
{% if site.google_analytics_tracking_id %}
	<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','{{ site.google_analytics_tracking_id }}');ga('send','pageview');X
	</script>
{% endif %} -->
