<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
	<meta name="author" content="{{ site.author }}">

	{% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
	<meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
	{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
	<link rel="canonical" href="{{ canonical }}">
	<link href="{{ root_url }}/stylesheets/style.css" rel="stylesheet">
	<script src="{{ root_url }}/javascripts/modernizr-2.0.js"></script>
	<script type="text/javascript">
		WebFontConfig = {
			google: { families: [ 'Open+Sans:400italic,400,600,700,300:cyrillic-ext,latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = '//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();
  	</script>
	{% include svg.html %}
</head>
