<ul class="nav-social">
	<li class="codepen">
		<a class="social-fallback" href="http://codepen.io/teodragovic" target="_blank">Codepen</a>
		<a href="http://codepen.io/teodragovic" target="_blank">
			<svg class="icon" viewBox="0 0 32 32">
				<use xlink:href="#codepen"></use>
			</svg>
		</a>
	</li>
	<li class="github">
		<a class="social-fallback" href="https://github.com/teodragovic" target="_blank">Github</a>
		<a href="https://github.com/teodragovic" target="_blank">
			<svg class="icon" viewBox="0 0 32 32">
				<use xlink:href="#github"></use>
			</svg>
		</a>
	</li>
	<li class="stackoverflow">
		<a class="social-fallback" href="http://stackoverflow.com/users/2382115/teo-dragovic" target="_blank">Stack Overflow</a>
		<a href="http://stackoverflow.com/users/2382115/teo-dragovic" target="_blank">
			<svg class="icon" viewBox="0 0 32 32">
				<use xlink:href="#stackoverflow"></use>
			</svg>
		</a>
	</li>
	<li class="twitter">
		<a class="social-fallback" href="https://twitter.com/teodragovic" target="_blank">Twitter</a>
		<a href="https://twitter.com/teodragovic" target="_blank">
			<svg class="icon" viewBox="0 0 32 32">
				<use xlink:href="#twitter"></use>
			</svg>
		</a>
	</li>
	<li class="facebook">
		<a class="social-fallback" href="https://www.facebook.com/teo.dragovic" target="_blank">Facebook</a>
		<a href="https://www.facebook.com/teo.dragovic" target="_blank">
			<svg class="icon" viewBox="0 0 32 32">
				<use xlink:href="#facebook"></use>
			</svg>
		</a>
	</li>
	<li class="googleplus">
		<a class="social-fallback" href="https://plus.google.com/+teodragovic" target="_blank">Google Plus</a>
		<a href="https://plus.google.com/+teodragovic" target="_blank">
			<svg class="icon" viewBox="0 0 32 32">
				<use xlink:href="#googleplus"></use>
			</svg>
		</a>
	</li>
	<li class="linkedin">
		<a class="social-fallback" href="http://www.linkedin.com/in/teodragovic" target="_blank">LinkedIn</a>
		<a href="http://www.linkedin.com/in/teodragovic" target="_blank">
			<svg class="icon" viewBox="0 0 32 32">
				<use xlink:href="#linkedin"></use>
			</svg>
		</a>
	</li>
</ul>
