<aside class="social-links">
	<ul class="nav nav--block nav--fit">
		<li class="svg codepen">
			<a class="svg__fallback" href="http://codepen.io/teodragovic">Codepen</a>
			<a href="http://codepen.io/teodragovic">
				<svg class="svg__icon" viewBox="0 0 32 32" width="32" height="32">
					<use xlink:href="#codepen"></use>
				</svg>
			</a>
		</li>
		<li class="svg github">
			<a class="svg__fallback" href="https://github.com/teodragovic" >Github</a>
			<a href="https://github.com/teodragovic">
				<svg class="svg__icon" viewBox="0 0 32 32" width="32" height="32">
					<use xlink:href="#github"></use>
				</svg>
			</a>
		</li>
		<li class="svg stackoverflow">
			<a class="svg__fallback" href="http://stackoverflow.com/users/2382115/teo-dragovic">Stack Overflow</a>
			<a href="http://stackoverflow.com/users/2382115/teo-dragovic">
				<svg class="svg__icon" viewBox="0 0 32 32" width="32" height="32">
					<use xlink:href="#stackoverflow"></use>
				</svg>
			</a>
		</li>
		<li class="svg twitter">
			<a class="svg__fallback" href="https://twitter.com/teodragovic">Twitter</a>
			<a href="https://twitter.com/teodragovic">
				<svg class="svg__icon" viewBox="0 0 32 32" width="32" height="32">
					<use xlink:href="#twitter"></use>
				</svg>
			</a>
		</li>
	</ul>
</aside>