; This file is for unifying the coding style for different editors and IDEs.
; More information at http://EditorConfig.org

[*.scss]
indent_style = tabs
indent_size = 2

[*.js]
indent_style = tabs
indent_size = 2

[*.html]
indent_style = tabs
indent_size = 2

[*.xml]
indent_style = tabs
indent_size = 2

[*.md]
indent_style = tabs
indent_size = 2

[*.markdown]
indent_style = tabs
indent_size = 2


; Override default indentation for some library files

[jwplayer/glow/glow.xml]
indent_style = tab

[libs/jXHR.js]
indent_style = tab

[libs/swfobject-dynamic.js]
indent_style = tab
