<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>

        <style>{% include "css/index.css" %}</style>
    </head>
    <body {% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
        <header class="header">
            {% if page.fileSlug %}
                <a class="header__logo" href="/">{% include 'name.html' %}</a>
            {% endif %}
            <a class="header__link" href="/blog/">blog</a>
        </header>

        {{ content | safe }}

    </body>
</html>
