---
layout: base
templateClass: blog
permalink: "blog/{{ title | slug }}/"
---

<div class="post">
    <time class="post-date" datetime="{{ date | htmlDateString }}">
        {{ date | readableDate }}
    </time>
    <h1>{{ title }}</h1>
    {{ content | safe }}
</div>
