
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    cursor: default;
    height: 100%;
    font-size: 125%;
    text-size-adjust: 100%;
}

body {
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    -ms-overflow-style: scrollbar;
    min-height: 100%;
    height: 100%;
    margin: 0;

    font-size: 100%;
    font-kerning: normal;
    text-size-adjust: 100%;
    font-feature-settings: "liga", "kern";
    text-rendering: optimizeLegibility;

    font-family: Georgia;
    line-height: 1.2;
}

.homepage {
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-inner {
    display: block;
    width: 90%;
    max-width: 40rem;
}

.homepage p {
    font-size: 120%;
    text-transform: lowercase;
    margin-top: 0;
}

@media screen and (min-width: 37.5em) {
  .homepage p { font-size: 2rem; }
}

.homepage ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.homepage ul li {
    flex: 0 1 100px;
    margin-bottom: 1rem;
}

.homepage a {
    font-size: 1.8rem;
    touch-action: manipulation;
    color: inherit;
    display: inline-block;
    padding: 0.5rem;
}

@media screen and (min-width: 37.5em) {
  .homepage a { font-size: 2.5rem; }
}

.icon {
    overflow: hidden;
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon path { fill: inherit !important; }

::-moz-selection {
    background-color: #000;
    color: #fff;
    text-shadow: none;
}

::selection {
    background-color: #000;
    color: #fff;
    text-shadow: none;
}

.blog-list,
.post {
  width: 100%;
  max-width: 50ch;
  margin: 0 auto;
  padding-top: 10%;
}

a {
  color:rgb(0, 0, 0);
}

a:visited {
  color:rgb(0, 0, 0);
}

.postlist-item {
  font-family: sans-serif;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.postlist-item time {
  font-size: 16px;
}

.postlist-item a {
  text-decoration: none;
}

.postlist-item h2 {
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: underline;
}

.postlist-item p {
  margin-top: 0;
  text-decoration: none;
}

.post h1,
.post h2,
.post h3 {
  font-family: sans-serif;
  font-weight: 900;
}
