
$sans-serif:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    cursor: default;
    height: 100%;
    font-size: 125%;
    text-size-adjust: 100%;
}

body {
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    -ms-overflow-style: scrollbar;
    min-height: 100%;
    height: 100%;
    margin: 0;

    font-size: 100%;
    font-kerning: normal;
    text-size-adjust: 100%;
    font-feature-settings: "liga", "kern";
    text-rendering: optimizeLegibility;

    font-family: Georgia;
    line-height: 1.2;
}

img {
    max-width: 100%;
    height: auto;
}

::-moz-selection {
    background-color: #000;
    color: #fff;
    text-shadow: none;
}

::selection {
    background-color: #000;
    color: #fff;
    text-shadow: none;
}

a {
    color:rgb(0, 0, 0);
	text-decoration: underline;
    text-decoration-skip: objects;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 1px;

	&:hover,
	&:focus {
		color: rebeccapurple;
	}
}

:not(pre)>code {
    background: #eee;
	padding: 0 .2725em;
	font-family: "Fira Mono", monospace;
	font-size: 90%;
}

.header {
	padding: 1rem;
	display: flex;
	align-items: center;

	.header__logo {
		flex: none;
		height: 20px;
		display: inline-block;

		svg {
			width: auto;
			height: 100%;
		}
	}

	.header__link {
		flex: none;
		margin-left: auto;
	}
}

.root {
	display: flex;
	flex-direction: column;
	> section { flex: 1 1 auto; }
}

// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }
